/* Fill me in :) */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Rubik+Bubbles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bubblegum+Sans&family=Encode+Sans+Condensed:wght@700&display=swap");

body {
  padding: 0px;
}
.game_Title {
  font-family: "Rubik Bubbles", system-ui;
  text-align: center;
  font-size: 150px;
}
.game_Subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  position: relative;
  text-align: center;
  top: -50px;
}
.background_Container {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
.bigDiv {
  position: relative;
  top: -100vh;
}
.player1 {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 250px;
  left: 100px;
  filter: drop-shadow(0 0 20px blue) drop-shadow(0 0 50px blue);
  opacity: 50%;
}

.player2 {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 225px;
  left: 600px;
  filter: drop-shadow(0 0 20px yellow) drop-shadow(0 0 100px yellow);
  opacity: 50%;
}

.player3 {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 250px;
  right: 100px;
  filter: drop-shadow(0 0 20px red) drop-shadow(0 0 50px red);
  opacity: 50%;
}

.rollingDice {
  width: 100px;
  height: 60px;
  position: absolute;
  top: 440px;
  right: 680px;
  font-family: "Audiowide", sans-serif;
}
.welcomemessage {
  position: absolute;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  text-align: center;
  color: white;
}

.player4 {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 500px;
  left: 600px;
  opacity: 50%;
}
.ui-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-input {
  position: absolute;
  opacity: 0%;
  bottom: 5px;
  width: 20%;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}
.user-input:hover {
  opacity: 95%;
}
.user-input-effect {
  opacity: 95%;
}
.user-input input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-family: "Audiowide", sans-serif;
}

.user-input button {
  width: 40%;
  height: 60%;
  padding: 10px;
  background-color: #0f52ba;
  opacity: 100%;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Audiowide", sans-serif;
}

#canvas {
  width: 25%;
  height: 25%;
  display: block;
  margin: 0 auto; /* Center the canvas horizontally */
}

.div_sizer {
  width: 25%;
  height: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textbox {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 100px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Audiowide", sans-serif;
}
.roll-btn {
  font-family: "Audiowide", sans-serif;
}
.roll-btn:hover {
  transform: translateY(-10px);
  border: 5px solid #a9423f;
}

.start {
  position: relative;
  top: 40px;
  left: 10px;
  height: 60px;
  width: 120px;
  font-size: 20px;
  opacity: 50%;
  background-color: #0f52ba;
  color: white;
  font-family: "Audiowide", sans-serif;
}
.start:hover {
  opacity: 90%;
  filter: drop-shadow(0 0 10px white) drop-shadow(0 0 10px white);
}
.start_bright {
  filter: drop-shadow(0 0 10px green) drop-shadow(0 0 10px green);
  opacity: 50%;
}

.voteA {
  position: absolute;
  top: 150px;
  left: 10px;
  height: 30px;
  width: 120px;
  font-size: 20px;
  opacity: 50%;
  background-color: #0f52ba;
  color: white;
  font-family: "Audiowide", sans-serif;
}
.voteA:hover {
  opacity: 90%;
  filter: drop-shadow(0 0 10px white) drop-shadow(0 0 10px white);
}

.voteB {
  position: absolute;
  top: 190px;
  left: 10px;
  height: 30px;
  width: 120px;
  font-size: 20px;
  opacity: 50%;
  background-color: #0f52ba;
  color: white;
  font-family: "Audiowide", sans-serif;
}
.voteB:hover {
  opacity: 90%;
  filter: drop-shadow(0 0 10px white) drop-shadow(0 0 10px white);
}

.voteC {
  position: absolute;
  top: 230px;
  left: 10px;
  height: 30px;
  width: 120px;
  font-size: 20px;
  opacity: 50%;
  background-color: #0f52ba;
  color: white;
  font-family: "Audiowide", sans-serif;
}
.voteC:hover {
  opacity: 90%;
  filter: drop-shadow(0 0 10px white) drop-shadow(0 0 10px white);
}

.changeTurn {
  position: relative;
  top: 110px;
  left: 10px;
  height: 60px;
  width: 120px;
  font-size: 20px;
  opacity: 50%;
  background-color: #0f52ba;
  color: white;
  font-family: "Audiowide", sans-serif;
}
.changeTurn:hover {
  opacity: 90%;
  filter: drop-shadow(0 0 10px white) drop-shadow(0 0 10px white);
}
.changeTurnGlow3 {
  filter: drop-shadow(0 0 20px red) drop-shadow(0 0 50px red);
  opacity: 100%;
}
.changeTurnGlow2 {
  filter: drop-shadow(0 0 20px yellow) drop-shadow(0 0 50px yellow);
  opacity: 100%;
}
.changeTurnGlow1 {
  filter: drop-shadow(0 0 20px blue) drop-shadow(0 0 50px blue);
  opacity: 100%;
}
.changeTurnGlow4 {
  filter: drop-shadow(0 0 20px white) drop-shadow(0 0 50px white);
  opacity: 100%;
}
