/* Fill me in :) */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Rubik+Bubbles&display=swap");

body {
  padding: 0px;
}
.game_Title {
  font-family: "Rubik Bubbles", system-ui;
  text-align: center;
  font-size: 150px;
}
.game_Subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  position: relative;
  text-align: center;
  top: -50px;
}
.background_Container {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
.bigDiv {
  position: relative;
  top: -100vh;
}
.player1 {
  width: 250px;
  height: 300px;
  position: absolute;
  top: 250px;
  left: 100px;
}

.player2 {
  width: 250px;
  height: 300px;
  position: absolute;
  top: 155px;
  left: 600px;
}

.player3 {
  width: 250px;
  height: 300px;
  position: absolute;
  top: 200px;
  right: 100px;
}
