/* Fill me in :) */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Rubik+Bubbles&display=swap");

body {
  padding: 0px;
}
.game_Title {
  font-family: "Rubik Bubbles", system-ui;
  text-align: center;
  font-size: 150px;
  color: white;

}
.game_Subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  position: relative;
  text-align: center;
  top: -40px;
  color: white;
}
.background_Container {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
