/* Fill me in :) */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Rubik+Bubbles&display=swap");

body {
  padding: 0px;
}
.game_Title_div {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.game_Title {
  position: relative;
  font-family: "Rubik Bubbles", system-ui;
  font-size: 6em;
  color: white;
}
.game_Title::before {
  content: attr(data-text);
  position: absolute;
  text-align: center;
  color: black;
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid;
  animation: animate 8s linear infinite;
  filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
}
@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  60%,
  80% {
    width: 100%;
  }
}
.game_Home_Subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  position: relative;
  text-align: center;
  top: -500px;
  color: white;
  -webkit-text-stroke: 1px black;
}
.background_Container {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
.getStartedButton {
  position: relative;
  top: -500px;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-align: center;
  margin: 0 auto;

  transition: all 0.5s;

  animation-duration: 0.75s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: backwards;
}
.getStartedButton:hover {
  transform: translateY(-10px);
  border: 5px solid #a9423f;
}
.container {
  width: 100%; /* Set an appropriate width for the container */
  text-align: center; /* Center the button horizontally within the container */
}

.getStartedButton:hover {
  background-color: #f0f0f0;
}

.rulesButton {
  position: relative;
  top: -500px;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-align: center;
  margin: 0 auto;

  transition: all 0.5s;

  animation-duration: 0.75s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: backwards;
}
.rulesButton:hover {
  transform: translateY(-10px);
  border: 5px solid #a9423f;
}
