/* Fill me in :) */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Rubik+Bubbles&display=swap");

body {
  padding: 0px;
}
.game_Title {
  font-family: "Rubik Bubbles", system-ui;
  text-align: center;
  font-size: 150px;
  z-index: 0;
}
.game_Subtitle {
  z-index: 0;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  position: relative;
  text-align: center;
  top: -50px;
}
.background_Container {
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
